// Import page-specific CSS files here.
@import "home";

body {
  font-family: sans-serif;
}
#text{
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-wrap: wrap;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  margin: 10px;
  background-color: white;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, .1);
  border-radius: 10px;
  padding: 2%;
  min-width: 20em;
}
.flat {
   display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

 .card-img img {
  width: 100%;
  }

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
  .cards {
    // background: red;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
  .cards {
    // background: orange;
  }
}
@media (max-width: 420px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  .cards {
    // background: yellow;
  }
}



// palace: https://images.unsplash.com/photo-1573599852326-2d4da0bbe613?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=981&q=80
// space station: https://images.unsplash.com/photo-1581901811881-2695b594d5ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80
// cabane: https://images.unsplash.com/photo-1526328020907-5b7021d10724?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80
//cage: https://images.unsplash.com/photo-1463362603537-22059ee1ac77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80
